<html>
<head>
    <meta charset="UTF-8">
    <title>MovieRama - {{ .Title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div id="app">

    <button v-on:click="getUsers">Show Users</button>

    <ul v-for="result in results">
        <li>{(result.username)} - {(result.email)}</li>
    </ul>

</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ .BasePath }}static/app.js"></script>
</html>